
      $(function() {

        // Create a new Lens app instance
        // --------
        //

        var app = new window.Lens({
          document_url: qs.url ? decodeURIComponent(qs.url) : documentURL
        });

        // And start it
        // --------
        // 
        // The app will be injected into the body element

        app.start();

        window.app = app;
      });
    </script>
    
    <script src="../ga.js"></script>
    
  </head>
  <body class="loading">
    
  </body>
</html>