*sublime*
ftp-credentials.txt
/*.bak
/*.log
/*.log.*.gz
*.pyc
*.swp
settings.py
.boto
tests/tmp/*
venv
.tox/*
.idea
workflow-context/*
!workflow-context/.gitkeep
/tmp
.cache
build/
crossref.cfg
pubmed.cfg
publication_types.yaml
source-requirements.txt
