*sublime*
ftp-credentials.txt
/*.bak
/*.log
/*.log.*.gz
/newrelic.ini
*.pyc
*.swp
settings.py
.boto
tests/tmp/*
venv
.idea
workflow-context/*
!workflow-context/.gitkeep
/tmp
.cache
build/
crossref.cfg
pubmed.cfg
publication_types.yaml
