[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
boto3 = "~=1.20"
arrow = "~=1.2"
requests = "~=2.26"
beautifulsoup4 = "~=4.10"
lxml = "~=4.9"
python-slugify = "~=5.0"
elifetools = "~=0.39.0"
elifearticle = "~=0.17.0"
configparser = "~=5.0"
elifecrossref = "~=0.25.0"
elifepubmed = "~=0.6.0"
ejpcsvparser = "~=0.3.1"
jatsgenerator = "~=0.9.0"
packagepoa = "~=0.3.0"
six = "~=1.16"
docker = "~=5.0"
pypandoc = "~=1.6"
letterparser = "~=0.14.0"
paramiko = "~=2.7"
redis = "~=4.5"
ddt = "~=1.4"
pyfunctional = "~=1.4"
func-timeout = "~=4.3"
python-docx = "~=0.8"
digestparser = "~=0.2.0"
medium = {git = "https://github.com/Medium/medium-sdk-python.git", ref = "bdf34becf6dd24e3b1fc1048c36416bcba9fe0d6"}
psutil = "~=5.8"
pytz = "*"
google-cloud-bigquery = "~=3.13.0"
Jinja2 = "~=3.0"
GitPython = "~=3.1"
PyYAML = "~=5.4"
Wand = "~=0.6"
wrapt = ">=1.11,<1.14" # version compatible with pylint and its dependency astroid
PyGithub = "~=1.55"
elifecleaner = "~=0.61.0"

[dev-packages]
memray = "==1.11.0"
pylint = "~=2.11"
testfixtures = "~=6.18"
pytest = "~=7.2"
mock = "~=4.0"
moto = {extras = ["s3", "sns", "sqs", "swf"], version = "~=4.2"}
