[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
boto = "==2.48.0"
arrow = "==0.4.4"
requests = "==2.20.0"
#beautifulsoup4 = "==4.7.1"
beautifulsoup4 = "~=4.6"
#lxml = "==4.3.0"
lxml = "~=4.1"
python-slugify = "==1.2.4"
elifetools = {git = "https://github.com/elifesciences/elife-tools.git", ref = "e671697e65dcf428184772b37ac9a940889ff865"}
elifearticle = {git = "https://github.com/elifesciences/elife-article.git", ref = "efb0f8c02b149c9f307e64be23470ae1989f540e"}
configparser = "==3.5.0"
elifecrossref = {git = "https://github.com/elifesciences/elife-crossref-xml-generation.git", ref = "1c4d2d9755634ef8440dc27fcc074bd56f01fe2c"}
elifepubmed = {git = "https://github.com/elifesciences/elife-pubmed-xml-generation.git", ref = "6d352645389acf2b9c8f42bae06f32c456354fb5"}
ejpcsvparser = {git = "https://github.com/elifesciences/ejp-csv-parser.git", ref = "4aeb739a27bccbe79f88a9a34b46110758bb7c85"}
jatsgenerator = {git = "https://github.com/elifesciences/jats-generator.git", ref = "136deabc83ecf498740d9a9dc69ceb99af227b01"}
packagepoa = {git = "https://github.com/elifesciences/package-poa.git", ref = "f5003c020a9efbc5d3bccb4c20e8586e247e3acb"}
six = "==1.13.0"
docker = "==4.0.2"
pypandoc = "==1.4"
letterparser = {git = "https://github.com/elifesciences/decision-letter-parser.git", ref = "e764a05a6cf4ce796846a22232050f573feb03e7"}
paramiko = "==2.4.2"
redis = "==2.10.5"
ddt = "==1.1.0"
ndg-httpsclient = "==0.4.2"
pyasn1 = "==0.4.8"
newrelic = "==2.72.0.52"
pyfunctional = "==1.2.0"
func-timeout = "==4.3.0"
python-docx = "==0.8.10"
digestparser = {git = "https://github.com/elifesciences/digest-parser.git", ref = "1af2bbc5a3da098d450d11f7c02012e0887d2d1c"}
medium = {git = "https://github.com/Medium/medium-sdk-python.git", ref = "bdf34becf6dd24e3b1fc1048c36416bcba9fe0d6"}
psutil = "==5.6.6"
pytz = "==2019.2"
google-cloud-bigquery = "==1.21.0"
Jinja2 = "==2.10.1"
GitPython = "==3.1.2"
PyYAML = "==4.2b2"
Wand = "==0.5.1"
pyOpenSSL = "==18.0.0"
PyGithub = "==1.27.1"

[dev-packages]
pylint = "==2.3.1"
testfixtures = "==4.9.1"
pytest = "==2.9.1"
mock = "==1.3.0"
