boto==2.48.0
GitPython==2.1.11
Jinja2==2.7.3
PyPDF2==1.23
arrow==0.4.4
beautifulsoup4==4.6.0
requests==2.20.0
lxml==4.1.1
xlrd==0.9.3
git+https://github.com/elifesciences/elife-tools.git@9fc6b0fe1210ea9812d0f339dee389dec9d9c550#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@bb61d4c0e3742403503efe10852114aeb1e07269#egg=elifearticle
git+https://github.com/elifesciences/elife-crossref-xml-generation.git@078ce423fb17186c5c92967c326119630846252b#egg=elifecrossref
git+https://github.com/elifesciences/elife-pubmed-xml-generation.git@32a9a831eca98a03b36b8c9a369c622a34d04a7a#egg=elifepubmed
git+https://github.com/elifesciences/ejp-csv-parser.git@9fdfa6a37c00b6134f8a2a46c784b0b11b19c654#egg=ejpcsvparser
git+https://github.com/elifesciences/jats-generator.git@ea0d4d90a28198eb2953cc982da85392fbfee360#egg=jatsgenerator
git+https://github.com/elifesciences/package-poa.git@2649777a020661e507de4087d447f50ca8c2fe57#egg=packagepoa
PyYAML==4.2b2
Wand==0.4.2
paramiko==2.4.2
mock==1.3.0
redis==2.10.5
testfixtures==4.9.1
pytest==2.9.1
ddt==1.1.0
Pillow==3.2.0
ndg-httpsclient==0.4.2
pyasn1==0.1.9
pyOpenSSL==18.0.0
newrelic==2.72.0.52
pylint==1.6.4
pyGithub==1.27.1
six==1.10.0
pyFunctional==1.0.0
func_timeout==4.3.0
python-docx==0.8.6
git+https://github.com/elifesciences/digest-parser.git@62a5629fd582753f45f794501d3b845cb3680ffd#egg=digestparser
psutil==5.4.6
