boto==2.48.0
Jinja2==2.11.3
arrow==0.4.4
requests==2.20.0
GitPython==3.1.2
beautifulsoup4==4.7.1
lxml==4.6.3
python-slugify==1.2.4
git+https://github.com/elifesciences/elife-tools.git@b329ec98bf5c17ee97f69870bea6e8d01169e7ea#egg=elifetools
elifearticle==0.2.0
configparser==3.5.0
elifecrossref==0.2.0
elifecleaner==0.3.1
git+https://github.com/elifesciences/elife-pubmed-xml-generation.git@ebd128176df5044673a9dd4777ff432dcd8aaa66#egg=elifepubmed
git+https://github.com/elifesciences/ejp-csv-parser.git@2e07c7a9bf60c435dac78207858b4c80d250511a#egg=ejpcsvparser
git+https://github.com/elifesciences/jats-generator.git@7dde779b334e7d554174dbed1a78d63603ded293#egg=jatsgenerator
git+https://github.com/elifesciences/package-poa.git@514517f5644cf3eb34514368f252d82acfd861af#egg=packagepoa
six==1.13.0
docker==4.0.2
pypandoc==1.4
git+https://github.com/elifesciences/decision-letter-parser.git@1e31e6c4b24e8fd49d4587ae38deb198b5618788#egg=letterparser
PyYAML==5.4
Wand==0.5.2
paramiko==2.4.2
mock==1.3.0
redis==2.10.5
testfixtures==4.9.1
pytest==2.9.1
ddt==1.1.0
ndg-httpsclient==0.4.2
pyasn1==0.4.8
pyOpenSSL==18.0.0
newrelic==2.72.0.52
pylint==2.3.1
pyGithub==1.27.1
pyFunctional==1.2.0
func_timeout==4.3.0
# versions of python-docx>=0.8.9 have issues installing on python 3.5.2 (xenial default)
python-docx==0.8.10
git+https://github.com/elifesciences/digest-parser.git@b998b402a88a71675e81d88092a9c814d0f08864#egg=digestparser
git+https://github.com/Medium/medium-sdk-python.git@bdf34becf6dd24e3b1fc1048c36416bcba9fe0d6#egg=medium
psutil==5.6.6
pytz==2019.2
google-cloud-bigquery==1.21.0
